@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #F75570;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background-color: #ffffffd5;
  padding-top: 60px;
}
.inner-header {
  /* height: 65vh;  */
  width: 100%;
  margin: 0;
  padding: 0;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 100px;
}
.parallax > use {
  -webkit-animation: moveForever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation: moveForever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}
@-webkit-keyframes moveForever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}
@keyframes moveForever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}
.nav {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 7vh;
  background: rgba(252, 113, 97, 0.26);
  width: 350px;
  border-radius: 40px;
}
.nav a{
  display: block;
  font-weight: 800;
  font-size: 16px;
  color: #E20059;
  font-family: "Inter";
  text-decoration: none;
  padding: 15px 12.5px;
  border-radius: 40px;
  border: solid 2px transparent;
  }
.menu h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  color: #e20059;
}
.nav a:hover{
  background: rgba(252, 113, 97, 0.26);
  padding: 15px 12.5px;
  border-radius: 25px;
  border: solid 2px transparent;
}
.menu img {
  max-width: 50%;
  margin: auto;
  display: block;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.conteudo{
  display: grid;
  margin: 100px 300px;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center;
}
.card{
  background: #f7f7f7;
  border-radius: 30px;
  display: grid;
}
.card h1{
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  color: #e20059;
  margin: auto;
  padding: 30px;
}
.card img{
  max-width: 100%;
}
.card p {
  padding: 50px;
}
